html {
    background-color: #A9E2F3;
}

.container {
    margin: 0 auto;
    padding: 1.6rem 1.6rem;
    background-color: #bb1433;
    width: 17rem;
    height: 26rem;
    border: 1.5px solid grey;
    border-radius: 10px;
}

.App {
    display: flex;
    
}

.button {
    color: white;
    font-size: 20px;
    height: 55px;
    width: 55px;
    background-color: #2260B1;
    border-radius: 70px;
    border: solid black 1px;
    /* margin: 5px 10px; */
    text-align: center;
    
}

.logo {
    width: 30%;
}

.display {
    background-color: #312626;
    margin: 12px auto;
    width: 93%;
    height: 60px;
    border-radius: 44px;
    height: 62px;
    color: white;
    font-size: 34px;
    padding-right: 20px;
    text-align: end;

}

.right-side {
    background-color: #3eb5e5;
    /* display: flex;
    flex-direction: column; */
    
}

.num {
    background-color: #123b78;
}